@import "./colors.scss";
@import "./theme.scss";
@import "./inputs.scss";

body,
html {
  height: 100%;
  position: relative;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $grey-400;
  }
}
