.input {
  position: relative;

  &.dark {
    background-color: #111;
    border-color: transparent;
    color: #f5f5f5;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(white, 0.5);
    }
  }
}
